@font-face {
    font-family: 'rubik';
    src: url("{% static 'fonts/Rubik-Regular.ttf' %}");
}

html {
    font-family: "rubik";
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}


#wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

/* Add a black background color to the top navigation */

.container {
    position: relative; /* Ensure this is relative to keep it above the ::before pseudo-element */
    margin: 0;
    width: auto;
    left: 20px;
    top: 30px;
}

/* The navbar */
.topnav {
    overflow: hidden;
    background-color: transparent;
}

/* Navbar links */
.topnav a {
    float: left;
    color: #000000;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 22px;
}

.topnav a:hover:not(.active) {
    background-color: transparent;
    color: #e5e5e5;
}

.active {
    background-color: #fca311;
    border-radius: 80px;
}

.tiles {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.tiles article {
    position: relative;
    width: 200px;
    height: 300px;
    overflow: hidden;
    cursor: pointer;
}

.tiles article .image {
    width: 100%;
    height: 100%;
}

.tiles article img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.3s ease;
}

.tiles article .book-info {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    opacity: 1;
    transition: opacity 0.3s ease;
    color: #fff;
}

.tiles article:hover .book-info {
    opacity: 0;
}

.tiles article:hover img {
    transform: scale(1.1);
}

footer {
    background: #14213d;
    color: #fca311;
    padding: 2rem 1rem;
    margin-top: auto;
}

footer .inner {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

footer h2 {
    margin-top: 0;
}

footer .icons {
    list-style: none;
    padding: 0;
    display: flex;
    gap: 10px;
}

footer .icons li {
    display: inline;
}

footer .icons a {
    color: #fff;
    text-decoration: none;
}

footer .icons a:hover {
    color: #ddd;
}

footer .copyright {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 1rem;
}
