@font-face {
    font-family: 'rubik';
    src: url("fonts/Rubik-Regular.ttf");
}

html {
    font-family: "rubik";
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}


#wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

/* Add a black background color to the top navigation */
.bg-img {
    position: relative;
    min-height: 100vh;
    overflow: hidden; /* Ensure any overflow is hidden */
}

.bg-img::before {
    content: "";
    position: absolute;
    top: -10px; /* Extend slightly beyond the viewport */
    left: -10px; /* Extend slightly beyond the viewport */
    width: calc(100% + 20px); /* Extend slightly beyond the viewport */
    height: calc(100% + 20px); /* Extend slightly beyond the viewport */
    background-image: url("images/1326370.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    filter: blur(5px); /* Adjust the blur value as needed */
    z-index: -1; /* Ensure the blurred image is behind the content */
}

/* Position the navbar container inside the image */
.container {
    position: relative; /* Ensure this is relative to keep it above the ::before pseudo-element */
    margin: 0;
    width: auto;
    left: 30px;
    top: 40px;
    align-items: center;
}

/* The navbar */
.topnav {
    overflow: hidden;
    background-color: transparent;
}

/* Navbar links */
.topnav a {
    float: left;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 22px;
    font-family: "rubik";
}

.topnav a:hover:not(.active) {
    background-color: transparent;
    color: #e5e5e5;
}

.active {
    background-color: #fca311;
    border-radius: 80px;
}

.description {
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: "rubik";
}

@keyframes moveImage {
    0% { top: 90%; left: 50%; }
    50% { top: 85%; left: 50%; }
    100% { top: 90%; left: 50%; }
}

.moving {
    position: absolute;
    top: 90%;
    left: 50%;
    max-width: 3%;
    max-height: auto;
    transform: translate(-90%, -50%);
    animation: moveImage 3s infinite;
}

.middle {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.box {
    background-color: #fca311;
    width: 45%;
    margin: 30px;
    padding: 20px;
    border: 1px solid #ccc;
    box-shadow: 4px 4px 7px rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
    height: 300px;
    width: 25%;
    align-items: center;
    border-radius: 10px;
}

.box img {
    max-width: 50px;
}

.box h {
    font-size: 1.5em;
    margin-bottom: 10px;
}

.box p {
    font-size: 1em;
    margin: 0;
}

footer {
    background-color: #14213d;
    color: #fca311;
    padding: 2rem 1rem;
    margin-top: auto;
}

footer .inner {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

footer h2 {
    margin-top: 0;
}

footer .icons {
    list-style: none;
    padding: 0;
    display: flex;
    gap: 10px;
}

footer .icons li {
    display: inline;
}

footer .icons a {
    color: #fff;
    text-decoration: none;
}

footer .icons a:hover {
    color: #ddd;
}

footer .copyright {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 1rem;
}
